<div class="container">

  <ng-container *ngIf="state">
    <ng-container *ngIf="state.dataState==LignesStateEnum.LOADING">
      <div class="position-relative" >
        <c-toaster placement="top-end" position="absolute" >
          <c-toast [autohide]="false" visible>
            <c-toast-header style="background-color: cadetblue">

              <strong class="me-auto">Loading ...</strong>
              <small class="text-muted">Just now</small>
            </c-toast-header>
            <c-toast-body>Pls wait !</c-toast-body>
          </c-toast>
        </c-toaster>
      </div>
    </ng-container>
    <ng-container *ngIf="state.dataState==LignesStateEnum.LOADED">
      <div class="position-relative" >
        <c-toaster placement="top-end" position="absolute" >
          <c-toast [autohide]="false" visible>
            <c-toast-header style="background-color: darkseagreen">

              <strong class="me-auto">Well done</strong>
              <small class="text-muted">Just now</small>
            </c-toast-header>
            <c-toast-body>Ligne ajouté avec success</c-toast-body>
          </c-toast>
        </c-toaster>
      </div>
    </ng-container>
    <ng-container *ngIf="state.dataState==LignesStateEnum.NEW">
      <ng-container>
        <form *ngIf="ligneFormGroup" [formGroup]="ligneFormGroup" (ngSubmit)="onSaveLigne()" style="margin: 50px">
          <div class="form-group">
            <h5>Ajout Ligne </h5>
          </div>
          <hr>

          <div class="form-group" >
            <label for="code"> Code</label>
            <input type="text" class="form-control" formControlName="code" id="code" [ngClass]="{'is-invalid':submitted && ligneFormGroup.controls['code'].errors}">
            <div *ngIf="submitted && ligneFormGroup.controls['label'].errors" class="invalid-feedback">
              <div *ngIf="ligneFormGroup.controls['code'].hasError('required')">Code can't be empty</div>
            </div>
          </div>

          <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" formControlName="type" id="type">
              <option value="CIRCULAIRE">CIRCULAIRE</option>
              <option value="SPECIALE">SPECIALE</option>
              <option value="SCOLAIRE">SCOLAIRE</option>
              <option value="NUIT">NUIT</option>
              <option value="NAVETTE">NAVETTE</option>
            </select>
          </div>


          <button type="submit" class="btn btn-success" style="margin-top: 10px">Ajouter</button>
        </form>

      </ng-container>
    </ng-container>
  </ng-container>
</div>
