<nav class="navbar navbar-expand-lg bg-body-tertiary navbar navbar-dark bg-dark" style="border-radius: 5px">
  <div class="container-fluid">
    <!--<a class="navbar-brand" href="">Moyens de transport</a>
    <button class="navbar-toggler" type="button" data-coreui-toggle="collapse" data-coreui-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"style="cursor: pointer" (click)="onGetAllMTs()"> <i class="cil-list"></i> Moyen de transport</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" routerLink="/newMoyenTransport" (click)="onNewMT()"><i class="cil-plus"></i> Ajout Moyen de transport</a>
        </li>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-coreui-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>-->
        <!--<li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>-->
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="cil-search"></i></button>
      </form>
    </div>
  </div>
</nav>
