<div class="container">

  <ng-container *ngIf="state">
    <ng-container *ngIf="state.dataState==DistrictsStateEnum.LOADING">
      <div class="position-relative" >
        <c-toaster placement="top-end" position="absolute" >
          <c-toast [autohide]="false" visible>
            <c-toast-header style="background-color: cadetblue">

              <strong class="me-auto">Loading ...</strong>
              <small class="text-muted">Just now</small>
            </c-toast-header>
            <c-toast-body>Pls wait !</c-toast-body>
          </c-toast>
        </c-toaster>
      </div>
    </ng-container>
    <ng-container *ngIf="state.dataState==DistrictsStateEnum.LOADED">
      <div class="position-relative" >
        <c-toaster placement="top-end" position="absolute" >
          <c-toast [autohide]="false" visible>
            <c-toast-header style="background-color: darkseagreen">

              <strong class="me-auto">Well done</strong>
              <small class="text-muted">Just now</small>
            </c-toast-header>
            <c-toast-body>District ajouté avec success</c-toast-body>
          </c-toast>
        </c-toaster>
      </div>
    </ng-container>
    <ng-container *ngIf="state.dataState==DistrictsStateEnum.NEW">
      <ng-container>
        <form *ngIf="districtFormGroup" [formGroup]="districtFormGroup" (ngSubmit)="onSaveDistrict()" style="margin: 50px">
          <div class="form-group">
            <h5>Ajout District </h5>
          </div>
          <hr>

          <div class="form-group" >
            <label for="label"> Label</label>
            <input type="text" class="form-control" formControlName="label" id="label" [ngClass]="{'is-invalid':submitted && districtFormGroup.controls['label'].errors}">
            <div *ngIf="submitted && districtFormGroup.controls['label'].errors" class="invalid-feedback">
              <div *ngIf="districtFormGroup.controls['label'].hasError('required')">Label can't be empty</div>
            </div>
          </div>

          <div class="form-group" >
            <label for="adress"> Address</label>
            <input type="text" class="form-control" formControlName="adress" id="adress" [ngClass]="{'is-invalid':submitted && districtFormGroup.controls['adress'].errors}">
            <div *ngIf="submitted && districtFormGroup.controls['adress'].errors" class="invalid-feedback">
              <div *ngIf="districtFormGroup.controls['adress'].hasError('required')">Address can't be empty</div>
            </div>
          </div>

          <div class="form-group" >
            <label for="phoneNumber"> Phone number</label>
            <input type="tel" class="form-control" formControlName="phoneNumber" id="phoneNumber" [ngClass]="{'is-invalid':submitted && districtFormGroup.controls['phoneNumber'].errors}">
            <div *ngIf="submitted && districtFormGroup.controls['phoneNumber'].errors" class="invalid-feedback">
              <div *ngIf="districtFormGroup.controls['phoneNumber'].hasError('required')">Phone number can't be empty</div>
            </div>
          </div>

          <button type="submit" class="btn btn-success" style="margin-top: 10px">Ajouter</button>
        </form>

      </ng-container>
    </ng-container>
  </ng-container>
</div>
