<nav class="navbar navbar-expand-lg bg-body-tertiary navbar navbar-dark bg-dark" style="border-radius: 5px">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"style="cursor: pointer" (click)="onGetAllStations()"> <i class="cil-list"></i></a>
        </li>
        <li class="nav-item" *ngIf="authService.roles.includes('ADMIN')">
          <a class="nav-link" style="cursor: pointer"  (click)="onNewStation()"><i class="cil-plus"></i></a>
        </li>

      </ul>

      <div class="option" >
        <input type="text" placeholder="Search" [(ngModel)]="searchQuery" (input)="searchStations(searchQuery)">
      </div>
    </div>
  </div>
</nav>
