<!--<div class="p-3" xmlns="http://www.w3.org/1999/html">
  <div class="card">
    <div class="card-header">
      Authentification
    </div>
    <div class="card-body">
      <form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" formControlName="username">
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div>

        <button class="btn-success">login</button>
      </form>
    </div>
  </div>
</div>-->
<!--login template -->
<div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
    <img src="https://www.transtu.tn/images/front/transtu_logo.png" style="margin-bottom: 550px;margin-left: 20px;width: 150px"/>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card-group d-block d-md-flex row">
          <div class="card col-md-7 p-4 mb-0">
            <div class="card-body">
              <form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
                <h1>Login</h1>
                <p class="text-body-secondary">Sign In to your account</p>
                <div class="input-group mb-3">
                  <span class="input-group-text">
                    <i class="cil-user"></i>
                  </span>
                  <input class="form-control" type="text" placeholder="Username" formControlName="username">
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-text">
                    <i class="cil-lock-locked"></i>
                  </span>
                  <input class="form-control" type="password" placeholder="Password" formControlName="password">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-success px-4" >Login</button>
                  </div>
                  <div class="col-6 text-end">
                    <button class="btn btn-link px-0" type="button">Forgot password?</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card col-md-5 text-white bg-success py-5">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn btn-lg btn-outline-warning mt-3" type="button" routerLink="../register">Register Now!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

