
<div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
  <img src="https://www.transtu.tn/images/front/transtu_logo.png" style="margin-bottom: 550px;margin-left: 20px;width: 150px"/>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-4 mx-4">
          <div class="card-body p-4">
            <h1>Register</h1>
            <p class="text-body-secondary">Create your account</p>

            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="cil-lock-locked"></i>
              </span>
              <input class="form-control" type="text" placeholder="Username">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="cil-lock-locked"></i>
              </span>
              <input class="form-control" type="text" placeholder="Email">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="cil-lock-locked"></i>
              </span>
              <input class="form-control" type="password" placeholder="Password">
            </div>

            <div class="input-group mb-4">
              <span class="input-group-text">
                <i class="cil-lock-locked"></i>
              </span>
              <input class="form-control" type="password" placeholder="Repeat password">
            </div>

            <button class="btn btn-block btn-success" type="button">Create Account</button>
            <button class="btn btn-block btn-light" type="button" style="margin-left: 340px" routerLink="../login">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

