<c-col xs="12">
  <c-card class="mb-4">
    <c-card-body>
        <table *ngIf="state"  [striped]="true" cTable hover>
          <thead>

          <tr>
            <th scope="col">Id</th>
            <th scope="col">Label</th>
            <th scope="col">Code</th>
            <th scope="col">Type</th>
          </tr>
          </thead>
          <tbody>
            <app-mt-item *ngFor="let moyenTransport of state.moyensTransport" [moyenTransport]="moyenTransport" style="display: contents"></app-mt-item>
          </tbody>
        </table>
      <!-- Affichez les contrôles de pagination ici -->
      <button cButton class="me-1" variant="ghost" color="info"  (click)="loadNextPage()">
        >>
      </button>
    </c-card-body>
  </c-card>
</c-col>
