<div class="container">

  <ng-container *ngIf="state">
    <ng-container *ngIf="state.dataState==ReclamationsStateEnum.LOADING">
      <div class="position-relative" >
        <c-toaster placement="top-end" position="absolute" >
          <c-toast [autohide]="false" visible>
            <c-toast-header style="background-color: cadetblue">

              <strong class="me-auto">Loading ...</strong>
              <small class="text-muted">Just now</small>
            </c-toast-header>
            <c-toast-body>Pls wait !</c-toast-body>
          </c-toast>
        </c-toaster>
      </div>
    </ng-container>
    <ng-container *ngIf="state.dataState==ReclamationsStateEnum.ERROR">
      <div class="position-relative" >
        <c-toaster placement="top-end" position="absolute" >
          <c-toast [autohide]="false" visible>
            <c-toast-header style="background-color: #cf2f4c">

              <strong class="me-auto">Error</strong>
              <small class="text-muted">Just now</small>
            </c-toast-header>
            <c-toast-body>{{state.errorMessage | json}}</c-toast-body>
          </c-toast>
        </c-toaster>
      </div>
    </ng-container>
    <ng-container *ngIf="state.dataState==ReclamationsStateEnum.UPDATED">
      <div class="position-relative" >
        <c-toaster placement="top-end" position="absolute" >
          <c-toast [autohide]="false" visible>
            <c-toast-header style="background-color: darkseagreen">

              <strong class="me-auto">Well done</strong>
              <small class="text-muted">Just now</small>
            </c-toast-header>
            <c-toast-body>Reclamation Updated Successfully</c-toast-body>
          </c-toast>
        </c-toaster>
      </div>
    </ng-container>
    <ng-container *ngIf="state.dataState==ReclamationsStateEnum.LOADED">
      <ng-container *ngIf="formBuilt" >
        <c-callout color="success">
          Enregistré en tant que <strong>brouillon</strong>, Veuillez <strong>éditer</strong> votre réclamation s'il ya des changements puis <strong>valider</strong> !.
        </c-callout>
        <form *ngIf="reclamationFormGroup" [formGroup]="reclamationFormGroup" (ngSubmit)="onUpdateReclamation()" style="margin: 30px">
          <div class="form-group">
            <h5>Editer une réclamation ID : {{reclamationFormGroup.controls['id'].value}} </h5>
          </div>
          <hr>
          <div class="row" style="margin-bottom: 20px">
            <p><strong>Données spécifiques à la source de réclamation :</strong></p>
            <div class="col">
              <div class="form-group" >
                <label for="reportingSourceNomPrenom"> Nom et Prènom</label>
                <input type="text" class="form-control" formControlName="reportingSourceNomPrenom" id="reportingSourceNomPrenom" [ngClass]="{'is-invalid':submitted && reclamationFormGroup.controls['reportingSourceNomPrenom'].errors}">
                <div *ngIf="submitted && reclamationFormGroup.controls['reportingSourceNomPrenom'].errors" class="invalid-feedback">
                  <div *ngIf="reclamationFormGroup.controls['reportingSourceNomPrenom'].hasError('required')">required</div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label for="reportingSourceTel"> Tel</label>
                <input type="text" class="form-control" formControlName="reportingSourceTel" id="reportingSourceTel" [ngClass]="{'is-invalid':submitted && reclamationFormGroup.controls['reportingSourceTel'].errors}">
                <div *ngIf="submitted && reclamationFormGroup.controls['reportingSourceTel'].errors" class="invalid-feedback">
                  <div *ngIf="reclamationFormGroup.controls['reportingSourceTel'].hasError('required')">required</div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label for="reportingSourceEtat">Etat</label>
                <select class="form-control" formControlName="reportingSourceEtat" id="reportingSourceEtat">
                  <option value="citoyen">Citoyen</option>
                  <option value="employeTranstu">Employé du TRANSTU</option>
                  <option value="police">Police</option>
                  <option value="autre">Autre</option>
                </select>
              </div>
            </div>

          </div>

          <div class="row" style="margin-bottom: 20px">
            <p><strong>Données spécifiques à l'Accident/Incident :</strong></p>
            <p>Chauffeur/Receveur :</p>
            <div class="col">
              <div class="form-group" >
                <label for="userId"> ID</label>
                <input type="text" class="form-control" formControlName="userId" id="userId" [ngClass]="{'is-invalid':submitted && reclamationFormGroup.controls['userId'].errors}" readonly>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="userNomPrenom"> Nom Prènom</label>
                <input type="text" class="form-control" formControlName="userNomPrenom" id="userNomPrenom" [ngClass]="{'is-invalid':submitted && reclamationFormGroup.controls['userNomPrenom'].errors}"readonly >
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label for="userTel"> Tel</label>
                <input type="text" class="form-control" formControlName="userTel" id="userTel" [ngClass]="{'is-invalid':submitted && reclamationFormGroup.controls['userTel'].errors}" readonly>
              </div>
            </div>


          </div>

          <div class="row" style="margin-bottom: 20px">
            <div class="col">
              <div class="form-group">
                <label for="lieu"> Lieu</label>
                <input type="text" class="form-control" id="lieu" formControlName="lieu" [ngClass]="{'is-invalid': submitted && reclamationFormGroup.controls['lieu'].errors}" readonly>
              </div>
            </div>


            <!--<div class="col">
              <div class="form-group">
                <label for="heure">Heure</label>
                <input type="text" class="form-control" formControlName="heure" id="heure" [ngClass]="{'is-invalid':submitted && reclamationFormGroup.controls['heure'].errors}">
              </div>
            </div>-->

            <div class="col">
              <div class="form-group">
                <label for="codeMt">Code mt</label>
                <input type="text" class="form-control" formControlName="codeMt" id="codeMt" [ngClass]="{'is-invalid':submitted && reclamationFormGroup.controls['codeMt'].errors}" readonly>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label for="ligne">Ligne</label>
                <input type="text" class="form-control" formControlName="ligne" id="ligne" [ngClass]="{'is-invalid':submitted && reclamationFormGroup.controls['ligne'].errors}" readonly>
              </div>
            </div>


          </div>

          <div class="row" style="margin-bottom: 20px">
            <div class="col">
              <div class="form-group">
                <label for="typeAccidentIncident">Type Accident/Incident</label>
                <select class="form-control" formControlName="typeAccidentIncident" id="typeAccidentIncident">
                  <option value="collision">Collision</option>
                  <option value="violence">Violence</option>
                  <option value="cristalBrise">Cristal brisé</option>
                  <option value="accidentDeCirculation">Accident de circulation</option>
                  <option value="sabotage">sabotage</option>
                </select>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label for="typeDegat">Type des dègâts</label>
                <select class="form-control" formControlName="typeDegat" id="typeDegat">
                  <option value="humains">Humains</option>
                  <option value="materiels">Matériels</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row" style="margin-bottom: 20px">
            <label for="notes">Notes ...</label>
            <textarea class="form-control" formControlName="notes" id="notes"></textarea>
          </div>

          <!--<input type="file" name="photos" (change)="onFileChange($event)" multiple>-->

          <button type="submit"  class="btn btn-success" style="margin-top: 10px">Valider</button>
        </form>

      </ng-container>
    </ng-container>
  </ng-container>
</div>

