<app-ligne-navbar></app-ligne-navbar>
<ng-container *ngIf="lignesState$ | async as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="LignesStateEnum.INITIAL">
    <div class="p-2"> Initial State</div>
  </ng-container>
  <ng-container *ngSwitchCase="LignesStateEnum.LOADING">
    <div class="p-2"> Loading...</div>
  </ng-container>
  <ng-container *ngSwitchCase="LignesStateEnum.ERROR">
    <div class="p-2 text-danger"> {{state.errorMessage |json}}</div>
  </ng-container>
  <ng-container *ngSwitchCase="LignesStateEnum.LOADED" class="p-4">
    <app-ligne-list [state]="state"></app-ligne-list>
  </ng-container>
</ng-container>
