<div class="container">

  <ng-container *ngIf="state">
    <ng-container *ngIf="state.dataState==ItinerairesStateEnum.LOADING">
      <div class="position-relative" >
        <c-toaster placement="top-end" position="absolute" >
          <c-toast [autohide]="false" visible>
            <c-toast-header style="background-color: cadetblue">

              <strong class="me-auto">Loading ...</strong>
              <small class="text-muted">Just now</small>
            </c-toast-header>
            <c-toast-body>Pls wait !</c-toast-body>
          </c-toast>
        </c-toaster>
      </div>
    </ng-container>
    <ng-container *ngIf="state.dataState==ItinerairesStateEnum.ERROR">
      <div class="position-relative" >
        <c-toaster placement="top-end" position="absolute" >
          <c-toast [autohide]="false" visible>
            <c-toast-header style="background-color: #cf2f4c">

              <strong class="me-auto">Error</strong>
              <small class="text-muted">Just now</small>
            </c-toast-header>
            <c-toast-body>{{state.errorMessage | json}}</c-toast-body>
          </c-toast>
        </c-toaster>
      </div>
    </ng-container>
    <ng-container *ngIf="state.dataState==ItinerairesStateEnum.UPDATED">
      <div class="position-relative" >
        <c-toaster placement="top-end" position="absolute" >
          <c-toast [autohide]="false" visible>
            <c-toast-header style="background-color: darkseagreen">

              <strong class="me-auto">Well done</strong>
              <small class="text-muted">Just now</small>
            </c-toast-header>
            <c-toast-body>Itineraire Updated Successfully</c-toast-body>
          </c-toast>
        </c-toaster>
      </div>
    </ng-container>
    <ng-container *ngIf="state.dataState==ItinerairesStateEnum.LOADED">
      <ng-container *ngIf="formBuilt" >
        <form *ngIf="itineraireFormGroup" [formGroup]="itineraireFormGroup" (ngSubmit)="onUpdateItineraire()" style="margin: 50px">
          <div class="form-group">
            <h5>Edition District </h5>
            <label for="id"> ID  :</label>
            <label>{{itineraireFormGroup.controls['id'].value}}</label>
            <input type="hidden" formControlName="id" id="id">
          </div>
          <hr>
          <div class="form-group" >
            <label for="name"> Name</label>
            <input type="text" class="form-control" formControlName="name" id="name" [ngClass]="{'is-invalid':submitted && itineraireFormGroup.controls['name'].errors}">
            <div *ngIf="submitted && itineraireFormGroup.controls['name'].errors" class="invalid-feedback">
              <div *ngIf="itineraireFormGroup.controls['name'].hasError('required')">Name can't be empty</div>
            </div>
          </div>

          <button type="submit" class="btn btn-success m-1" >Save</button>
        </form>

      </ng-container>
    </ng-container>
  </ng-container>
</div>

