<tr *ngIf="ligne">
  <td>{{ligne.id}}</td>
  <td>{{ligne.code}}</td>
  <td>{{ligne.type}}</td>
  <td>
    <button (click)="toggleTableMts()" class="btn btn-sm m-1">
      <i [class]="showTable ? iconExitFullscreen : iconFullscreen"></i>
    </button>
    <table  *ngIf="showTable" [striped]="true" cTable hover>
      <thead>

      <tr>
        <th scope="col">Id</th>
        <th scope="col">Label</th>
        <th scope="col">Code</th>
        <th scope="col">Type</th>
        <th scope="col">Asigné</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let moyenTransport of allMoyensTransports">
        <td>{{moyenTransport.id}}</td>
        <td>{{moyenTransport.label}}</td>
        <td>{{moyenTransport.code}}</td>
        <td>{{moyenTransport.type}}</td>
        <td>
          <input type="checkbox" [(ngModel)]="moyenTransport.assignedToLigne" [disabled]="moyenTransport.disabled"  (change)="toggleMoyenTransportAssignments(moyenTransport, ligne)">
        </td>
      </tr>
      </tbody>
    </table>
  </td>
  <button (click)="toggleTableStations()" class="btn btn-sm m-1">
    <i [class]="showTableStations ? iconExitFullscreenStations : iconFullscreenStations"></i>
  </button>
  <table  *ngIf="showTableStations" [striped]="true" cTable hover>
    <thead>

    <tr>
      <th scope="col">Id</th>
      <th scope="col">Label</th>
      <th scope="col">Code</th>
      <th scope="col">Longitude</th>
      <th scope="col">lattitude</th>
      <th scope="col">Assignée</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let station of allStations">
      <td>{{station.id}}</td>
      <td>{{station.label}}</td>
      <td>{{station.code}}</td>
      <td>{{station.longitude}}</td>
      <td>{{station.latitude}}</td>
      <td>
        <input type="checkbox" [(ngModel)]="station.assignedToLigne" (change)="toggleStationsAssignment(station, ligne)">
      </td>
    </tr>
    </tbody>
  </table>
  <td>
    <button (click)="onDelete(ligne)" class="btn btn-sm m-1" style="background-color: crimson">
      <i class="cil-trash" ></i>
    </button>
    <button (click)="onEdit(ligne)"  class="btn btn-sm m-1" style="background-color: cornflowerblue">
      <i class="cil-pencil"></i>
    </button>
    <button (click)="onDetails(ligne)"  class="btn btn-sm m-1" style="background-color: gold">
      <i class="cil-options"></i>
    </button>
  </td>
</tr>
