<!--
<div class="modal-header">
  <h4 class="modal-title">Détails du réclamation</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="reclamation">
  <c-accordion [alwaysOpen]="true" [flush]="true" class="shadow rounded-2">
    <c-accordion-item #item0="cAccordionItem" [visible]="false">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
          Réclamation {{reclamation.id}} détails
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="accordion-body">
          <p><strong>ID:</strong> {{ reclamation.id }}</p>
        </div>
      </ng-template>
    </c-accordion-item>
    <c-accordion-item #item1="cAccordionItem" [visible]="false">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item1.toggleItem()" [collapsed]="!item1.visible" cAccordionButton>
          Données specifiques au reporteur
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="accordion-body">
          <c-col xs="12">
            <c-card class="mb-4">
              <c-card-body>
                <table  [striped]="true" cTable hover>
                  <thead>

                  <tr>
                    <th scope="col">Reporteur Etat</th>
                    <th scope="col">Reporteur Nom et Prenom</th>
                    <th scope="col">Reporteur Tel</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{reclamation.reportingSourceEtat}}</td>
                    <td>{{reclamation.reportingSourceNomPrenom}}</td>
                    <td>{{reclamation.reportingSourceTel}}</td>
                  </tr>
                  </tbody>
                </table>
              </c-card-body>
            </c-card>
          </c-col>
        </div>
      </ng-template>
    </c-accordion-item>
    <c-accordion-item #item2="cAccordionItem" [visible]="false">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item2.toggleItem()" [collapsed]="!item2.visible" cAccordionButton>
          Données specifiques à l'accident
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="accordion-body">
          <c-col xs="12">
            <c-card class="mb-4">
              <c-card-body>
                <table  [striped]="true" cTable hover>
                  <thead>

                  <tr>
                    <th scope="col">Lieu</th>
                    <th scope="col">Type accident/incident</th>
                    <th scope="col">Type dégâts</th>
                    <th scope="col">Notes</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{reclamation.lieu}}</td>
                    <td>{{reclamation.typeAccidentIncident}}</td>
                    <td>{{reclamation.typeDegat}}</td>
                    <td>{{reclamation.notes}}</td>
                  </tr>
                  </tbody>
                </table>
                <img *ngFor="let photo of reclamationPhotos" [src]="photo.url" alt="Reclamation photo">
              </c-card-body>
            </c-card>
          </c-col>
        </div>
      </ng-template>
    </c-accordion-item>
  </c-accordion>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Fermer</button>
</div>
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="project-info-box mt-0">
        <h5>RECLAMATION DETAILS</h5>
        <p class="mb-0">{{reclamation?.notes}}.</p>
      </div><!-- / project-info-box -->

      <div class="project-info-box">
        <p><b>Reporteur:</b>{{reclamation?.reportingSourceNomPrenom}} - {{reclamation?.reportingSourceEtat}} - {{reclamation?.reportingSourceTel}}</p>
        <p><b>Date:</b> {{reclamation?.date}}</p>
        <p><b>Lieu:</b><a [href]="'https://www.bing.com/maps?cp='+(reclamation?.lieu)+'&lvl=18.0'">Lien vers la carte Bing Maps</a></p>
        <p class="mb-0"><b>Status:</b> {{reclamation?.state}}</p>
      </div><!-- / project-info-box -->

    </div><!-- / column -->

    <div class="col-md-7">
      <img *ngFor="let photo of reclamationPhotos" [src]="photo.url" alt="Reclamation photo" style="border-radius: 10px;margin: 10px;height: 250px;
width: 300px">
      <div class="project-info-box">
        <p><b>District :</b>{{districtAsigned}}</p>
        <p><b>Moyen Transport :</b>{{moyenTransportAsigned}}</p>
        <p><b>Type degats:</b>{{reclamation?.typeDegat}}</p>
        <p><b>Type accident/incident:</b> {{reclamation?.typeAccidentIncident}}</p>
      </div><!-- / project-info-box -->
    </div><!-- / column -->
  </div>
</div>
