<c-col xs="12" *ngIf="authService.roles.includes('ADMIN')">
  <c-card class="mb-4">
    <c-card-body>
      <table *ngIf="state"  [striped]="true" cTable hover>
        <thead>

        <tr>
          <th scope="col">Id</th>
          <th scope="col">Label</th>
          <th scope="col">Code</th>
          <th scope="col">Longitude</th>
          <th scope="col">Latitude</th>
        </tr>
        </thead>
        <tbody>
        <app-station-item *ngFor="let station of state.stations" [station]="station" style="display: contents"></app-station-item>
        </tbody>
      </table>
      <!-- Affichez les contrôles de pagination ici -->
      <button cButton class="me-1" variant="ghost" color="info"  (click)="loadNextPage()">
        >>
      </button>
    </c-card-body>
  </c-card>
</c-col>
